<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BucketListDbConnStr" value="Data Source=localhost;Initial Catalog=BucketList;Integrated Security=true;"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBucketListServices"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62271/BucketListServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBucketListServices" contract="BucketListServicesWcf.IBucketListServices" name="BasicHttpBinding_IBucketListServices"/>
        </client>
    </system.serviceModel>
</configuration>
